* {
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  color: #444;
  transition: all .4s .3s ease-in;
}


//container
.main_container {
  display:flex;
  flex-direction:column;
  width:100%;
  margin:0 auto;
  max-width:1280px;
  position: relative;
}
//image reveal
.section {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:50px;
  margin-top:100px;
  margin-bottom:100px;
  border:1px solid #ccc;
  position: relative;

  //shards
  .shards {
    display:block;
    width:400px;
    height:300px;
    position: absolute;
    left:-40px;
    opacity:0;
    transform:translateY(-100px);
    z-index: 0;
    transition: all 0.4s ease;

    &--reveal {
      opacity:1;
      left:0;
    }


    .shard {
      display:block;
      position: absolute;
      width:30%;
      height:10%;
      transform:rotate(-30deg) skew(-30deg, 0deg) scale(2.0785, 1.55885);
      background: linear-gradient(-30deg, rgba(133,63,219,1) 7%, rgba(227,31,187,1) 100%);
      

      &--one {
        right:10%;
        transform:rotate(-30deg) skew(-30deg, 0deg) scale(1.2);
      }
      &--two {
        right:10%;
        bottom:0%;
        transform:rotate(-30deg) skew(-30deg, 0deg) scale(0.7);
      }
      &--two {
        left:10%;
        bottom:0%;
        transform:rotate(-30deg) skew(-30deg, 0deg) scale(2.6);
      }

    }
  }

  //text
  .text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:50px;
    z-index: 2;

    h2 {
      font-size:48px;
      margin-top:0;
      margin-bottom:20px;
    }
    p {
      font-size:18px;
      line-height:28px;
    }
  }
  //image
  .image {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    transform:translateY(50px);
    opacity:0;
    transition:all 0.4s ease;

    &--reveal {
      opacity:1;
      transform:translateY(0px);
    }

    img {
      display:block;
      width:100%;
    }

  }
}
//nav reveal
.nav {
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  border-bottom:1px solid #ccc;
  opacity:0;
  transform:translateY(-50px);
  z-index: 3;
  background-color:white;
  width:100%;
  transition: opacity 0.4s ease, transform 0.4s ease;

    &--reveal {
      opacity:1;
      transform:translateY(0px) !important;
    }



  .logo {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#ccc;
    min-height:100px;
  }

  .nav_list {
    margin:0;
    display:flex;
    flex-direction:row;
    justify-content: center;
    list-style-type:none;
    align-items: center;

    li {
      padding:1.5rem;
    }
  }

  .cta {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    span {
      background-color: #ccc;
      padding:1.2rem 1.4rem;
    }
    
  }
}